.custom-nav-tab-product-page .nav-link.active, .custom-nav-tab-product-page .nav-item.show .nav-link{
    border-top: 3px solid red;
}
.custom-tab-pane-product h5,.custom-tab-pane-product-details h5{
    color: #848181;
}

.product-description p{
    font-size: 14px;
    line-height: 1.8;
    text-align: right;
    background-color: #fbfbfb;
}

.product-progress p{
    font-size: 14px;
}

.product-rate,.property-product{
    background-color: #efefef;
}

.product-main-description{
    font-size:14px;
    line-height:2;
}

ul.product-desc-step{
    margin: 0 30px;
}

ul.product-desc-step li{
    border-right: 1px solid #000;
    padding-right: 10px;
    line-height: 2;
}

ul.product-desc-step li .p-img-wrapper{
    max-width: 400px;
    margin: 0 auto;
}

ul.product-desc-step li i.fa-dot-circle{
    top: -10px;
    right: -9px;
    color: rgb(37, 76, 182);
}

.custom-tab-pane-product-details .key{
    flex: 0 0 20%;
    background-color: rgb(247, 244, 244);
    font-size: 15px;
}

.custom-tab-pane-product-details .value{
    flex: 0 0 77%;
    background-color: rgb(247, 244, 244);
    font-size: 15px;
}
.custom-tab-pane-product-details ul p i{
    vertical-align: -3px;
}
.add-comment p:first-child{
    font-size: 18px;
    color: #4d4b4b;
}
.add-comment p:nth-child(2){
    color: #4d4b4b;
}
.add-comment a i{
    vertical-align: -3px;
}
.user-details{
    margin-top: -3rem;
}
.user-details i{
    vertical-align:-2px;
}
.user-details p,.p-color{
    font-size: 14px;
}
.user-details .bg-custom,.p-suplier{
    font-size: 15px;
}
.user-p-comment p{
  font-size: 17px;
}
.benefit-comment{
    font-size: 15px;
}
.user-p-comment ul li{
    font-size: 13px;
}
.user-p-comment ul li i{
    font-size: 8px;
    vertical-align: 1px;
    color: rgb(6, 76, 206);
}
.comment-vote span{
    font-size: 13px;
}
.add-comments i.fa-comments:before{
    font-size: 24px;
    vertical-align: -2px;
    margin-left: 10px;
}

/* zommy slider customies */

.zoom-mousemove{
    border: none!important;
}